doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/icecreamStyle.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    .icecream
        .head
            .bite
            .bite
            .stripContainer
                .strip
                .strip
            .eyeContainer
                .eye
                .eye
            .mouth
                .tongue
            .meltContainer
                .drip
                .drip
                .drip
                .drip
        .stick
        .shadow
        .puddle
