extends layout

block content
  header
    a.menu(href='#') MENU
    nav
      a.bio.underline(href='#bio') Bio
      a.education.underline(href='#education') Education
      a.experience.underline(href='#experience') Experience
      a.skills.underline(href='#skills') Skills
      a.portfolio.underline(href='#portfolio') Portfolio
  section#bio.section
    .left
      #picture
    .right
      article
        h1#name HuaDi Tsai
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis dui arcu, vitae fermentum augue semper ac. Integer elementum commodo ligula eu sodales. Maecenas tristique ipsum dapibus, porta lectus nec, scelerisque ligula. Nullam vel libero
          | varius, lacinia risus vel, sollicitudin odio.
        p
          | Mauris placerat, ante id imperdiet efficitur, mauris turpis maximus risus, eu viverra velit tellus a urna. Aliquam viverra tortor a neque egestas elementum. Vivamus id posuere sem. Sed euismod interdum ultrices.
      #contact-info
        a(href='#') A
        a(href='#') B
        a(href='#') C
  section#education.section
    h2.title.education.underline Education
    .history
      .entry
        h3
          span.place Somewhere
          span.time 2008-2013
        p Description goes here...
      .entry
        h3
          span.place Somewhere
          span.time 2006-2007
        p Description goes here...
  section#experience.section.experience
    h2.title.experience.underline Experience
    .history
      .entry
        h3
          span.place Somewhere
          span.time 8 months
        p Description goes here...
  section#skills.section
    h2.title.skills.underline Skills
    .category
      h3 Category:
      ul
        li.skill(data-level='1')
          h4 Skill Name
          .bar
        li.skill(data-level='2')
          h4 Skill Name
          .bar
        li.skill(data-level='3')
          h4 Skill Name
          .bar
        li.skill(data-level='4')
          h4 Skill Name
          .bar
        li.skill(data-level='5')
          h4 Skill Name
          .bar
        li.skill(data-level='6')
          h4 Skill Name
          .bar
    .category
      h3 Category:
      ul
        li.skill(data-level='7')
          h4 A Programming Language
          .bar
        li.skill(data-level='8')
          h4 Some other skill with a longer name
          .bar
        li.skill(data-level='9')
          h4 Yet Another Skill
          .bar
  section#portfolio.section
    h2.title.portfolio.underline Portfolio
    ul
      li.project
        a(href='#')
          .img
        h4.title
          a(href='#') Project Name
      li.project
        a(href='#')
          .img
        h4.title
          a(href='#') Project Name
      li.project
        a(href='#')
          .img
        h4.title
          a(href='#') Project Name
      li.project
        a(href='#')
          .img
        h4.title
          a(href='#') Yet Another Project with a Long Name
  footer.footer
    p
      | Bio background image: 
      a(href='https://www.flickr.com/photos/danielchodusov/15347878754/', target='blank') Barcelona #1.
      |  by Daniel Chodusov.
    p
      | Paciently coded by: 
      a(href='https://github.com/rsalgado') Roberto Salgado.
