extends layout

block content
  .resume.row          
    .base.col-xs-12.col-md-3
        .profile
          .photo
            img(src='/images/profile.jpg')
          .info
            h4.name HuaDi Tsai
            small.job SharePoint Support Engineer
        .about
          h3 About me
          | Sleep, Eat, Enjoy
          br
          | Lively and outgoing
        .contact
          h3 Contact
          .call
            i.fa.fa-phone
            span (+886)988-565-404
          .address
            i.fa.fa-map-marker
            span Taipei, Taiwan
          .email
            i.fa.fa-envelope
            span huadi73@hotmail.com
          .website
            a(href='http://www.huaditsai.com', target='_blank') 
              i.fa.fa-home
              span www.huaditsai.com
        .follow
          h3 Follow
          .box
            a(href='http://facebook.com/huadi73', target="_blank")
              i.fa.fa-facebook
            a(href='https://www.linkedin.com/in/huadi-tsai-08826768/', target="_blank")
              i.fa.fa-linkedin
            a(href='https://github.com/huaditsai', target="_blank")
              i.fa.fa-github
            a(href='https://dotblogs.com.tw/huadi73', target="_blank")
              i.fa.fa-rss       
    .func.col-xs-12.col-md-9
      .row          
        .work
          h3
            i.fa.fa-briefcase
            | Work Exrerience
          ul
            li
              span SharePoint Technical Support Engineer
              small Microsoft (2016/03 - Now)
            li
              span Office 365 Technical Support Engineer
              small Microsoft (2014/07 - 2016/03)
            li
              span Android Lecturer (Part-time)
              small NTUE (2012/09 - 2013/06)
            li
              span Research and Development (Intern)
              small Microsoft (2011/10 - 2013/08)       
        .edu
            h3
              i.fa.fa-graduation-cap
              | Education
            ul
              li
                span National Taipei University of Education (2012 - 2014)
                small Master's degree, Toy and Game Design
              li
                span National Taipei University of Education (2008 - 2012)
                small Bachelor's degree, Digital Technology Design
        .skills-prog
          h3
            i.fa.fa-code
            | Programming Skills
          ul
            li(data-percent='32')
              span C (Arduino, Windows console)
              .skills-bar
                .bar
            li(data-percent='75')
              span C# (Asp.Net MVC/Form, App, Form)
              .skills-bar
                .bar
            li(data-percent='72')
              span Java (Android)
              .skills-bar
                .bar
            li(data-percent='60')
              span Web front-End (CSS, Html, Js, jQuery...)
              .skills-bar
                .bar
            li(data-percent='33')
              span NodeJS
              .skills-bar
                .bar
            li(data-percent='90')
              span PowerShell
              .skills-bar
                .bar
        .skills-soft
          h3
            i.fa.fa-th-list
            | Software Skills
          ul
            li(data-percent='69')
              svg(viewbox='0 0 100 100')
                circle(cx='50' cy='50' r='45')
                circle.cbar(cx='50' cy='50' r='45')
              span Photoshop
              small
            li(data-percent='73')
              svg(viewbox='0 0 100 100')
                circle(cx='50' cy='50' r='45')
                circle.cbar(cx='50' cy='50' r='45')
              span Unity Engine
              small
            li(data-percent='66')
              svg(viewbox='0 0 100 100')
                circle(cx='50' cy='50' r='45')
                circle.cbar(cx='50' cy='50' r='45')
              span 3D's Max
              small
            li(data-percent='55')
              svg(viewbox='0 0 100 100')
                circle(cx='50' cy='50' r='45')
                circle.cbar(cx='50' cy='50' r='45')
              span 123D Design
              small
        .interests
          h3
            i.fa.fa-star
            | Interests
          .interests-items
            .draw
              i.fa.fa-paint-brush
              span Draw
            .movie
              i.fa.fa-film
              span Movie
            .music
              i.fa.fa-headphones
              span Music
            .game
              i.fa.fa-gamepad
              span Game
              