doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='http://ogp.me/ns/fb#')
  head
    title= title
    meta( charset='utf-8' )

    meta(property='og:image', content='http://www.huaditsai.com/images/profile.jpg')
    meta(property='og:description', content='HuaDi.Me')

    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/script.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
  body
    .container      
      block content
